<% add_breadcrumb params[:is_enquiry].blank? ? 'New Student Admission' : 'New enquiry', new_student_path %>
<%- model_class = Student -%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= params[:is_enquiry].blank? ? 'New Student Admission' : 'New enquiry' %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'form' %>
  </div>
</div>