<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @student.self_full_name %></h1>
    <p>
      <%= @notification.message %>
    </p>
  </body>
</html>