<% add_breadcrumb "Editing #{@division.name}", edit_division_path %>
<%- model_class = Division -%>
<div class="col-lg-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
    </div>
    <div class="panel-body">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
